.links_div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 4rem;
  padding: 2rem;
  border-style: solid;
  border-color: darkgoldenrod;
  margin-left: 12rem;
  margin-right: 48rem;
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  a {
    color: gold;
    text-shadow: 0rem 0rem 1.5rem darkgoldenrod;
  }
  a:hover {
    color: rgb(255, 255, 192);
    text-shadow: 0rem 0rem 3rem gold;
  }
}
