.centre_figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  padding: 2rem;
  border-style: solid;
  border-color: darkgoldenrod;
  margin-left: 12rem;
  margin-right: 42rem;
  h2 {
    font-size: 4rem;
    text-align: center;
  }
  h3 {
    margin-top: 2.5rem;
    font-size: 2.25rem;
  }
}

.genre_paragraph {
  font-size: 2.25rem;
}

.synopsis_paragraph {
  margin-left: 16rem;
  margin-right: 16rem;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.user_reviews_h3 {
  margin-left: 4rem;
}

.game_review_item {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.game_review_item_author {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 1rem;
}

.change_search_dir_div {
  margin: 2rem;
  padding: 0.875rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
  a {
    color: gold;
  }
  a:hover {
    color: rgb(255, 255, 192);
    text-shadow: 0rem 0rem 3rem gold;
  }
}

.delete_comment {
  margin: 1rem;
  padding: 0.5rem;
  color: red;
  text-shadow: 0rem 0rem 0.75rem rgb(200, 128, 128);
}

.review_submit_form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  input {
    background-color: rgb(64, 40, 32);
  }
  textarea {
    background-color: rgb(64, 40, 32);
  }
  p {
    margin: 1rem;
    padding: 0.5rem;
  }
  button {
    font-size: 2rem;
    color: rgb(255, 255, 192);
    text-shadow: 0rem 0rem 3rem gold;
  }
}

.review_score {
  margin-left: 4rem;
  max-width: 32px;
  max-height: auto;
}

@media only screen and (max-width: 2048px) {
  .centre_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    padding: 2rem;
    border-style: solid;
    border-color: darkgoldenrod;
    margin-left: 12rem;
    margin-right: 28rem;
    h2 {
      font-size: 4rem;
      text-align: center;
    }
    h3 {
      margin-top: 2.5rem;
      font-size: 2.25rem;
    }
  }

  .genre_paragraph {
    font-size: 2.25rem;
  }

  .synopsis_paragraph {
    margin-left: 16rem;
    margin-right: 16rem;
    padding-top: 2rem;
    font-size: 1.5rem;
  }

  .user_reviews_h3 {
    margin-left: 4rem;
  }

  .game_review_item {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .game_review_item_author {
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 1rem;
  }

  .change_search_dir_div {
    margin: 2rem;
    padding: 0.875rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
    a {
      color: gold;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .delete_comment {
    margin: 1rem;
    padding: 0.5rem;
    color: red;
    text-shadow: 0rem 0rem 0.75rem rgb(200, 128, 128);
  }

  .review_submit_form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    input {
      background-color: rgb(64, 40, 32);
    }
    textarea {
      background-color: rgb(64, 40, 32);
    }
    p {
      margin: 1rem;
      padding: 0.5rem;
    }
    button {
      font-size: 2rem;
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .review_score {
    margin-left: 4rem;
    max-width: 32px;
    max-height: auto;
  }
}

@media only screen and (max-width: 1928px) {
  .centre_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 1.5rem;
    border-style: solid;
    border-color: darkgoldenrod;
    margin-left: 9rem;
    margin-right: 24rem;
    h2 {
      font-size: 3rem;
      text-align: center;
    }
    h3 {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }

  .genre_paragraph {
    font-size: 2rem;
  }

  .synopsis_paragraph {
    margin-left: 8rem;
    margin-right: 8rem;
    padding-top: 1.5rem;
    font-size: 1rem;
  }

  .user_reviews_h3 {
    margin-left: 3rem;
  }

  .game_review_item {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    padding: 0.375rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .game_review_item_author {
    font-size: 1rem;
    margin-left: 0.75rem;
    padding: 0.75rem;
  }

  .change_search_dir_div {
    margin: 1.5rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
    a {
      color: gold;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .delete_comment {
    margin: 0.75rem;
    padding: 0.375rem;
    color: red;
    text-shadow: 0rem 0rem 0.75rem rgb(200, 128, 128);
  }

  .review_submit_form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 0.75rem;
    input {
      background-color: rgb(64, 40, 32);
    }
    textarea {
      background-color: rgb(64, 40, 32);
    }
    p {
      margin: 0.75rem;
      padding: 0.375rem;
    }
    button {
      font-size: 1.5rem;
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .review_score {
    margin-left: 3rem;
    max-width: 32px;
    max-height: auto;
  }
}

@media only screen and (max-width: 1536px) {
  .centre_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    padding: 0.75rem;
    border-style: solid;
    border-color: darkgoldenrod;
    margin-left: 6rem;
    margin-right: 16rem;
    h2 {
      font-size: 3rem;
      text-align: center;
    }
    h3 {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }

  .genre_paragraph {
    font-size: 2rem;
  }

  .synopsis_paragraph {
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 1.5rem;
    font-size: 1rem;
  }

  .user_reviews_h3 {
    margin-left: 3rem;
  }

  .game_review_item {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    padding: 0.375rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .game_review_item_author {
    font-size: 1rem;
    margin-left: 0.75rem;
    padding: 0.75rem;
  }

  .change_search_dir_div {
    margin: 1.5rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
    a {
      color: gold;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .delete_comment {
    margin: 0.75rem;
    padding: 0.375rem;
    color: red;
    text-shadow: 0rem 0rem 0.75rem rgb(200, 128, 128);
  }

  .review_submit_form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 0.75rem;
    input {
      background-color: rgb(64, 40, 32);
    }
    textarea {
      background-color: rgb(64, 40, 32);
    }
    p {
      margin: 0.75rem;
      padding: 0.375rem;
    }
    button {
      font-size: 1.5rem;
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .review_score {
    margin-left: 3rem;
    max-width: 32px;
    max-height: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .centre_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.125rem;
    padding: 0.5rem;
    border-style: solid;
    border-color: darkgoldenrod;
    margin-left: 4rem;
    margin-right: 12rem;
    h2 {
      font-size: 2rem;
      text-align: center;
    }
    h3 {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }

  .genre_paragraph {
    font-size: 2rem;
  }

  .synopsis_paragraph {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 1.25rem;
    font-size: 1rem;
  }

  .user_reviews_h3 {
    margin-left: 3rem;
  }

  .game_review_item {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    padding: 0.375rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .game_review_item_author {
    font-size: 1rem;
    margin-left: 0.75rem;
    padding: 0.75rem;
  }

  .change_search_dir_div {
    margin: 1.5rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
    a {
      color: gold;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .delete_comment {
    margin: 0.75rem;
    padding: 0.375rem;
    color: red;
    text-shadow: 0rem 0rem 0.75rem rgb(200, 128, 128);
  }

  .review_submit_form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 0.75rem;
    input {
      background-color: rgb(64, 40, 32);
    }
    textarea {
      background-color: rgb(64, 40, 32);
    }
    p {
      margin: 0.75rem;
      padding: 0.375rem;
    }
    button {
      font-size: 1.5rem;
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .review_score {
    margin-left: 3rem;
    max-width: 32px;
    max-height: auto;
  }
}

@media only screen and (max-width: 960px) {
  .centre_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.75rem;
    padding: 0.25rem;
    border-style: solid;
    border-color: darkgoldenrod;
    margin-left: 2rem;
    margin-right: 8rem;
    h2 {
      font-size: 2rem;
      text-align: center;
    }
    h3 {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }

  .genre_paragraph {
    font-size: 2rem;
  }

  .synopsis_paragraph {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1.25rem;
    font-size: 1rem;
  }

  .user_reviews_h3 {
    margin-left: 3rem;
  }

  .game_review_item {
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    padding: 0.25rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .game_review_item_author {
    font-size: 1rem;
    margin-left: 0.75rem;
    padding: 0.75rem;
  }

  .change_search_dir_div {
    margin: 1.5rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
    a {
      color: gold;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .delete_comment {
    margin: 0.75rem;
    padding: 0.375rem;
    color: red;
    text-shadow: 0rem 0rem 0.75rem rgb(200, 128, 128);
  }

  .review_submit_form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 0.75rem;
    input {
      background-color: rgb(64, 40, 32);
    }
    textarea {
      background-color: rgb(64, 40, 32);
    }
    p {
      margin: 0.75rem;
      padding: 0.375rem;
    }
    button {
      font-size: 1.5rem;
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }

  .review_score {
    margin-left: 3rem;
    max-width: 32px;
    max-height: auto;
  }
}
