.timeline_figure {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  padding: 2rem;
  border-style: solid;
  border-color: darkgoldenrod;
  margin-left: 12rem;
  margin-right: 42rem;
  margin-bottom: 2rem;
  h2 {
    font-size: 2rem;
    text-align: center;
    color: gold;
    text-shadow: 0rem 0rem 1.5rem darkgoldenrod;
  }
  h2:hover {
    color: rgb(255, 255, 192);
    text-shadow: 0rem 0rem 3rem gold;
  }
}

.timeline_title {
  font-size: 2rem;
  margin-left: 4rem;
}
