@import "tailwindcss";

:root {
  --bgColour: #201a18;
  --foreground: #f3f3f3;
  --accent: #7e8d9b;
  --font: monospace;
  --fontColour: goldenrod;
}

body {
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  background: var(--bgColour);
  color: var(--fontColour);
  font-family: var(--font);
}
