.user_space {
  margin: 4rem;
  padding: 2rem;
  border-style: solid;
  border-color: darkgoldenrod;
  margin-left: 12rem;
  margin-right: 48rem;
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  h2 {
    font-size: 2.25rem;
  }
  div {
    margin: 3.25rem;
    font-size: 1rem;
  }
}
