.main_title {
  margin: 6rem;
  font-size: 4rem;
  margin-left: 24rem;
  text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
  margin-top: 6rem;
  margin-right: 16rem;
  margin-bottom: 6rem;
  padding: 1.5rem;
  padding-bottom: 3rem;
  font-size: 4rem;
  border-top: solid;
  border-bottom: solid;
  a {
    color: gold;
    text-shadow: 0rem 0rem 1.5rem darkgoldenrod;
  }
  a:hover {
    color: rgb(255, 255, 192);
    text-shadow: 0rem 0rem 3rem gold;
  }
}

@media only screen and (max-width: 2280px) {
  .main_title {
    margin: 4rem;
    font-size: 3rem;
    margin-left: 18rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
  }

  .nav_bar {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    margin-top: 6rem;
    margin-right: 12rem;
    margin-bottom: 6rem;
    padding: 1.5rem;
    padding-bottom: 3rem;
    font-size: 3rem;
    border-top: solid;
    border-bottom: solid;
    a {
      color: gold;
      text-shadow: 0rem 0rem 1.5rem darkgoldenrod;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }
}

@media only screen and (max-width: 1696px) {
  .main_title {
    margin: 3rem;
    font-size: 2rem;
    margin-left: 12rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
  }

  .nav_bar {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    margin-top: 3rem;
    margin-right: 8rem;
    margin-bottom: 4rem;
    padding: 1.5rem;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    border-top: solid;
    border-bottom: solid;
    a {
      color: gold;
      text-shadow: 0rem 0rem 1.5rem darkgoldenrod;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }
}

@media only screen and (max-width: 1536px) {
  .main_title {
    margin: 2.25rem;
    font-size: 1.5rem;
    margin-left: 9rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
  }

  .nav_bar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 2.25rem;
    margin-right: 4rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    padding-bottom: 2.25rem;
    font-size: 1.25rem;
    border-top: solid;
    border-bottom: solid;
    a {
      color: gold;
      text-shadow: 0rem 0rem 1.5rem darkgoldenrod;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }
}

@media only screen and (max-width: 860px) {
  .main_title {
    margin: 1.125rem;
    font-size: 0.75rem;
    margin-left: 4rem;
    text-shadow: 0rem 0rem 2rem rgb(161, 119, 12);
  }

  .nav_bar {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    margin-top: 1.125rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    padding-bottom: 2.25rem;
    font-size: 0.75rem;
    border-top: solid;
    border-bottom: solid;
    a {
      color: gold;
      text-shadow: 0rem 0rem 1.5rem darkgoldenrod;
    }
    a:hover {
      color: rgb(255, 255, 192);
      text-shadow: 0rem 0rem 3rem gold;
    }
  }
}
